.card {
  border: 3px solid #1f1720;
  border-radius: 14px;
  background: #cfd8ff;
  padding: 16px 20px;
}

.message {
  font-family: "EF_jejudoldam";
  margin: 0;
  font-size: 16px;
  /* font-weight: 800; */
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 5px #121212;
  paint-order: stroke fill;
}
